@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.general {
  display: flex;
  background: #f7f7f7;
  margin: 90px 130px;
  padding: 40px;
  gap: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'SF Pro Display';
}
.updatePasswordGeneral {
  width: 600px;
  display: flex;
  background: #f7f7f7;
  margin: 0 80px;
  /* padding: 40px; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  height: 480px;
}

.nav1 button {
  display: flex;
  align-items: center;
  gap: 50px;
  text-wrap: wrap;
  background-color: inherit;
}

.nav2 button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 42px;
  margin-left: 5px;
  text-wrap: nowrap;
  background-color: inherit;
}

.general nav .nav1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-wrap: nowrap;
  align-self: start;
  place-content: space-between;
  display: inline-block;
  vertical-align: middle;
}
.general nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-self: start;
  align-items: flex-start;
  align-self: space-between;
  display: flex;
  align-items: center;
  width: 10 0%;
  display: inline-block;
}

.general nav .nav2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: start;
  gap: 100px;
  justify-content: space-between;
}

.personal-info-container {
  display: flex;
  width: 100%;
  margin: 0 80px;
}

.personal-info-header {
  display: flex;
  gap: 160px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  text-wrap: nowrap;
}

.header {
  display: flex;
}

.info-box {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #acacac;
  padding: 12px 0;
}

.info-label {
  font-weight: bold;
  text-align: right; /* Align the labels to the right */
  display: flex;
  align-items: center;
  /* border-bottom: solid 2px #989898; */
  border-collapse: collapse;
  align-items: flex-start;
  justify-content: left;
  /* margin-left: -200px;  */
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #989898;
}

.info-value {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* border-bottom: solid 2px #999999; */
}

.password-update-form .form-group {
  width: 150%;
  display: flex;
}

.user-profile .userSideBar .strelka1 {
  width: 15px;
  height: 15px;
  justify-content: left;
}
.user-profile .userSideBar .strelka2 {
  width: 15px;
  height: 15px;
  float: left;
}

.line-vertical {
  height: auto;
  width: 2px;
  background-color: #acacac;
  margin-top: -40px;
  margin-bottom: -40px;
  align-self: stretch;
}

/* LoginForm.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.login-container h2 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
}

.login-container p {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
  margin-right: 400px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  margin-right: 400px;
}

.input-group input {
  width: 400px;
  height: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #009172;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 418px;
  font-family: 'SF Pro Display', sans-serif;
}

.login-button:hover {
  background-color: #009172;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  /* padding: 10px; */
  border: 2px solid #ccc;
  border-radius: 4px;
}

.form-group label {
  position: absolute;
  top: 20px;
  left: 10px;
  background: transparent;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #999;
}

.form-group.focused label {
  padding: 0 10px;
  top: 0px;
  left: 10px;
  font-size: 16px;
  background: #f7f7f7;
}
/* updatepassword */

.password-update-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-update-form img {
  margin-left: -40px;
  width: 30px;
  height: 30px;
  margin-top: 13px;
}

.password-update-form form {
  width: 100%; /* or max-width if you want it smaller */
  max-width: 400px;
}

.password-update-form label {
  margin-bottom: 5px;
  font-weight: bold;
  /* width: 100%; */
}

.password-update-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #acacac;
  background: transparent;
  border-radius: 4px;
  flex-direction: column;
  float: left;
  margin: 10px 0;
}

.password-update-form button {
  /* margin-left: auto;  */
  width: 70%;
  padding: 10px;
  background-color: #009172;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: -203px;
}

.password-update-form button:hover {
  background-color: #45a049;
}

.password-update-container {
  flex-direction: column;
  width: 100%;
  margin: 0 80px;
}

.password-update-header {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  flex-direction: column;
}

.info-box {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #acacac;
  padding: 12px 0;
}

.info-label {
  font-weight: bold;
  text-align: right;
  display: flex;
  align-items: center;
  border-collapse: collapse;
  align-items: flex-start;
  justify-content: left;
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #989898;
}

.info-value {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.password-update-form .form-group {
  width: 150%;
  display: flex;
}
/* Responsive design for smaller screens */

.user-profile .userSideBar .strelka1 {
  width: 15px;
  height: 15px;
  justify-content: left;
}
.user-profile .userSideBar .strelka2 {
  width: 15px;
  height: 15px;
  float: left;
}

.line-vertical {
  height: auto;
  width: 2px;
  background-color: #acacac;
  margin-top: -40px;
  margin-bottom: -40px;
  align-self: stretch;
}

.general hr {
  width: 0;
  height: 65%;
  border: 1px solid #acacac;
}

.personal {
  margin: 0 80px;
}

.updatePasswordGeneral hr {
  margin-top: -40px;
  width: 0;
  height: 560px;
  border: 1px solid #acacac;
}

.modal-box {
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.modal-buttons button {
  font-size: 1.2rem;
}

.modal-box .form-group {
  width: 400px;
}

.modal-box .form-group input {
  border: 1px solid #acacac;
  background-color: #f7f7f7;
  padding: 10px;
}

.modal-box .form-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #999;
}

.modal-box .form-group.focused label {
  padding: 0 10px;
  top: -10px;
  left: 10px;
  font-size: 16px;
  background: #f7f7f7;
}

@media (max-width: 992px) {
  .general {
    width: 800px;
    margin: 50px 10px;
  }

  .general .nav1 button {
    gap: 30px;
  }
  .general .nav2 button {
    gap: 23px;
  }

  .info-box {
    width: 400px;
  }
  .general hr {
    height: 600px;
  }

  /* .personal-info-container {
    margin: 0 40px;
  } */

  .personal {
    margin: 0 50px;
  }

  .personal-info-header {
    gap: 50px;
  }

  .updatePasswordGeneral {
    align-items: center;
  }

  .updatePasswordGeneral hr {
    height: 560px;
    margin-top: 5px;
  }

  .password-update-form button {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .personal-info-grid {
    grid-template-columns: 1fr; /* Stack label and value on top of each other */
    text-align: left;
  }

  .info-label {
    text-align: left; /* Align labels to the left on small screens */
    padding-bottom: 5px; /* Add space below the label */
  }

  .general {
    width: 550px;
    margin: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .general .nav1 button {
    margin-left: 0;
    gap: 140px;
  }
  .general .nav2 button {
    gap: 133px;
    margin-top: 10px;
  }
  .general hr {
    position: relative;
    margin-top: 5px;
    width: 552px;
    height: 1px;
  }
  .personal-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 40px; */
    margin: 0px;
  }

  .personal-info-header {
    gap: 120px;
  }

  .info-box {
    width: 480px;
  }

  .updatePasswordGeneral {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: -80px;
    background-color: transparent;
    height: 350px;
  }

  .updatePasswordGeneral hr {
    display: flex;
    width: 550px;
    margin-left: 170px;
    border: 1px solid black;
  }

  .password-update-header {
    width: 200px;
    margin: 20px 0;
  }
  .password-update-container {
    width: 300px;
  }

  .password-update-form button {
    margin-right: 0;
  }
}

/* LoginForm.css */

@media (max-width: 768px) {
  .userSideBar {
    width: 100%; /* full width */
    margin-bottom: 10px;
  }

  .user-profile {
    flex-direction: column; /* stack children vertically */
  }

  .info-box {
    flex-direction: column; /* stack label and value */
    align-items: flex-start; /* align to the start */
    gap: 0;
  }

  .info-label {
    text-align: left; /* align to the left */
    margin-right: 0; /* remove right margin */
    width: auto; /* adjust width */
  }

  .info-value {
    padding-top: 5px; /* space between label and value */
  }

  .line-vertical {
    display: none; /* hide vertical line on small screens */
  }

  .user-profile .text1 h4 {
    flex-grow: 0.075;
  }
  .user-profile .text2 h4 {
    flex-grow: 0.05;
  }
}

@media (max-width: 650px) {
  .general {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .container-1 h1 {
    font-size: 20px; /* smaller font size */
  }

  .info-label,
  .info-value {
    font-size: 14px; /* smaller font size */
  }

  .personal-info-container {
    padding-left: 30%;
  }
}
